<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>cb-lib-release-local</id>
          <name>cb-lib-release-local</name>
          <url>https://cloudbinary.jfrog.io/artifactory/cb-lib-release-local/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>cb-libs-snapshot-local</id>
          <name>cb-libs-snapshot-local</name>
          <url>https://cloudbinary.jfrog.io/artifactory/cb-libs-snapshot-local/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>cb-lib-release-local</id>
      <username>devops</username>
      <password></password>
    </server>
    <server>
      <id>cb-libs-snapshot-local</id>
      <username>devops</username>
      <password></password>
    </server>
  </servers>
</settings>
